div {
    background-color: grey; 
    width: 100%;
    color: black;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 10px;
 }
 
 div div {
    background-color: grey;
    width: 45%;
    text-align: left;
    padding: 2.5%;
    float: left;
    box-sizing: border-box;
 }
 
 #section1 {
    background-color: grey;
 }
 #section2 {
    background-color: grey;
 }
 
 #section3 {
    background-color: grey;
 }
 
 #section4 {
    background-color: grey;
 }
 
 #section5 {
    background-color: grey;
 }
 
 #section6 {
    background-color: grey;
 }
 
 #section7 {
    background-color: grey;
 }
 
 #section8 {
    background-color: grey;
 }
 
 a.btn{
    display:block;
    width:150px;        
  
  }
  
  a.btn img{
    width:120%;
    margin-bottom: -95px;
  }
  