img {
    background-color: blue;
    padding: 100px 50px;
    margin: 50px;
    border-radius: 50%;
    
}
div{
    background-color: green;
    width: 50%;
    border-radius: 13%;
}
a.btn{
    display:block;
    width:150px;        
 
  }
  
  a.btn img{
    width:120%;
    margin-bottom: -1120px;
  }
  
