body {
  background-color: #99CCFF;
  font-family: Arial, sans-serif;
}


#title {
  text-align: center;
  color: blue;
}
h3 {
  color:blue;
}

hr {
  color: red;
}

#links {
  text-align: center;
  font-size: 16px;
}

#links a {
  color: blue;
  margin:10px;
  text-decoration: none;
  font-weight: bold;
}


#img1 {
  width: 900px;
  height: 250px;
  display: block;
  margin: auto;
}
#links a:hover {
  color: white;
}
#bottom {
  position: relative;
  width: 700px;
  height: 650px;
  margin: 10px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #8AC6FF;
  box-shadow: 2px 4px 14px 0px #04396B;
  border-radius: 20px;
}

#tright {
  width: 250px;
  height: 230px;
  position: absolute;
  display: block;
  top: 29%;
  left: 32%;
}

#paragraph {
  width: 540px;
  text-align: justify;
  
}

#paragraph2 {
  width: 600px;
  margin-top: 250px;
  text-align: justify;
}