#title{
   text-align: center;
   color: white
}


body{
   background-color: purple;
}


#body{
   
   text-align: center;
   padding-top: 400px;
   margin-top: -40px;  
}


#body p {
    font-size: 19px;      
    font-family: Arial, sans-serif;
    margin: 20px auto;    
    max-width: 500px;    
    color: white;
}


#pic1{
  width: 400px;
 padding-bottom: 2%;
}


#links{
   text-align: center;
   word-spacing: 100px;

}

#img2{
width: 250px;
margin-top: -620px;
}

#pic3{
   width: 350px;
   
}