body {
  background-color: darkred;
  font-family: Arial, sans-serif;
  color: beige;
  text-align: center;
}

header {
  text-align: center;
  padding: 20px;
}

section a {
  float: left;           
  width: 18%;             
  margin: 1%;             
  text-align: center;
  color: beige;
  text-decoration: none;
}

img {
  width: 100%;           
  height: auto;         
}

p {
  margin-top: 10px;
  font-size: large;
}

h3 {
  margin-top: 10px;
}